@import "../../../node_modules/bootstrap/scss/functions";
@import "variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import '~bootstrap';
@import 'var';

.btn.btn-outline-primary:hover {
    color: #fff;
}

.input-group-text {
    color: #fff;
}

tr {
    padding: 10px 10px !important;
}
td{
    line-height: 40px;
}
%scrollbar_style{

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $primary--;
        width: 5px;
        border-radius: 8px;
    }
}