.back_container {
    flex-grow: 1;
    padding-left: 0;

    &>* {
        height: 100%;
    }
}

.main {
    height: 100%;
    padding-top: 20px;
    border: 3px solid $primary;
    border-radius: 50px;
}
.pagination {
    justify-content: center;
}