body {
    background-color: #FFF7EA;
}

.container {
    position: relative;
    background-color: #FFF7EA;
}


.navbar {
    display: flex;
    align-items: center;
    padding: 0px 20px;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: $primary;
    z-index: 1;

    img {
        max-width: 70px;
        height: auto;
    }

    span {
        margin-left: 20px;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
    }

    button {
        margin-left: auto;
    }
}

.row {

    display: flex;
    justify-content: flex-start;

    .sidebarSize {
        // padding: 100px 20px 0px 20px;
        // padding-top: 90px;
        left: 0px;
        width: 20%;
        // height: 100vh;
    }

    .sidebar {
        // padding: 100px 20px 0px 20px;
        // padding-top: 90px;
        left: 0px;
        width: 20%;
        height: 100vh;
        border-right: 3px solid $primary;
        background: #FFF7EA;
        position: fixed;
        padding-left: 0px;
        padding-right: 0px;

            ul {
            display: flex;
            flex-direction: column;
            padding-left: 0px;
            padding-right: 0px;
            // padding: 20px;

            .item {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                height: 80px;
                text-align: start;
                margin-left: auto;
                margin-right: auto;
                width: 100%;
                text-decoration: none;
                font-size: 20px;
             
                span{
                    padding-left: 30px;
                }
            }
        }

    }


    .main {


        width: 78%;
        height: 100%;
        min-height: calc(100vh - 110px);
        padding: 20px;
        padding-top: 20px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        border: 3px solid #1F8D61;
        border-radius: 50px;
        box-sizing: border-box;
        background-color: #FFF7EA;

        h5 {
            font-size: 28px;
            font-weight: bold;
            text-align: start;
            margin: 10px 20px;
        }
    }
}

table {
    background-color: #FFF7EA;
    --bs-table-bg: #FFF7EA !important;

    tr,
    td {
        padding: 15px 0 !important;
    }

}

.pagination {
    justify-content: center;
}

button.btn.btn-outline-primary:hover {
    color: #fff;
}

.item:hover {
    background-color: #1F8D61;
    color: #fff;
}
 
//側邊欄當前頁面
.active{   
    background-color: #1F8D61;
    color: #fff;
}