.login_box{
    width: 300px;
    height: fit-content;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    transform: translateY(-15%);
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        height: 150px;
    }
    legend{
        font-size: $l-font;
        margin-bottom: $sp3;
        color: $text;
        font-weight: 700;
    }
    .btn-primary{
        color: #fff;
    }
}