.mem_detail_title {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.mem_detail_container{
    // height: 100%;
    padding: 0 $sp3 $sp3;
    .info_group{
        display: flex;
        flex-wrap: wrap;
        padding: 0 $sp3;
        p{
            text-align: left;
        }
    }
}
.no_orders{
    text-align: center;
    margin-top: $sp3;
}
.shop_gift_wrap{
    display: flex;
    gap: 32px;
    margin-top: auto;
    max-height: 560px;
    min-height: 1px;
    & > *{
        border: 1px solid $primary;
        padding: $sp3 $sp2 $sp2;
        &>table{
            overflow-y: scroll;
            @extend %scrollbar_style;
        }
        h6{
            font-size: $s-font;
            font-weight: 700;
            margin-bottom: $sp2;
            margin-left: $sp2;
            text-align: left;
        }
    }
}
.shop_history{
    width: 55%;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}
.gift_history{
    width: 45%;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}